<div class="card">
    <div class="card-header">
        <span class="h4 card-title">USERS</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="grid">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>